<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title>Registrate</title>
</head>
<body class = "fondo"> 
    <section >
        <div class = "atras_Formulario">
            <br>
            <br>
            <form action="ejemplo.php" method="get"></form>
            <h1>Registrate</h1>
            <h3 >Llena los siguientes datos</h3>
            <form action="ejemplo.php" method="get"></form>
                <input type="text" class="entrada diseño " name="Nombre" id="nombres" placeholder="Nombres">
                <input type="text" class="entrada diseño " name="Apellidos" id="apellidos" placeholder="Apellidos">
                <input type="text" class="entrada diseño " name="Nombre" id="correo_electronico" placeholder="Correo Electronico">
                <input type="text" class="entrada diseño " name="Nombre" id="confi_correo" placeholder="Confirmar Correo Electronico">
            </form>
        <br>
        <button >Aceptar</button>
        </div>
    </section>
</body>
</html>